$img_cover: url(../assets/images/cover.jpg);
$img_mist: url(../assets/images/img1_mist.jpg);
$img_bottom: url(../assets/images/img2_bottom.jpg);
$img_dark: url(../assets/images/img3_dark.jpg);
$img_log: url(../assets/images/img4_log.jpg);
$img_map: url(../assets/images/map.jpg);