#overlay{
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100%;
    color: white;
    font-family: indie-flower;
    line-height: 1.3;
    letter-spacing: .2em;
    background-color: rgba(0, 0, 0, .8);
    z-index: 45;

    div{
        position: absolute;
        background-repeat: no-repeat;
        
        b{
            display: block;
        }
    }
}

.overlay-balance{
    padding-top: 30px;
    padding-left: 80px;
    width: 200px;
    height: 150px;
    background-image: url(../assets/images/sketch/bracket-1.png);
}

#overlay-drop{
    width: 300px;
    height: 100px;
    margin-bottom: -25px;
    padding-bottom: 145px;
    background-image: url(../assets/images/sketch/drop-cap.png);
    background-position: 70px bottom;
}

#overlay-flow{
    width: 300px;
    height: 100px;
    padding-right: 70px;
    padding-bottom: 200px;
    margin-left: -100px;
    background-image: url(../assets/images/sketch/flow-1.png);
    background-position: right bottom;
}

#overlay-flow-2{
    width: 300px;
    height: 400px;
    background-image: url(../assets/images/sketch/flow-2.png);
    background-position: left bottom;
}

#overlay-shape-1{
    width: 300px;
    height: 150px;
    padding-right: 200px;
    padding-bottom: 60px;
    background-image: url(../assets/images/sketch/shape-1.png);
    background-position: right bottom;
}

#overlay-shape-2{
    width: 300px;
    height: 300px;
    padding-left: 170px;
    // padding-top: 100px;
    // text-align: right;
    // background-image: url(../assets/images/sketch/shape-2.png);
    background-image: url(../assets/images/sketch/shape-4.png);
    background-position: left bottom;
}

#overlay-shape-3{
    width: 300px;
    height: 250px;
    padding-left: 100px;
    padding-top: 50px;
    background-image: url(../assets/images/sketch/shape-3.png);
    background-position: left top;
}

#overlay-filter-1{
    width: 250px;
    height: 250px;
    padding-right: 50px;
    padding-bottom: 50px;
    background-image: url(../assets/images/sketch/filter-1.png);
    background-position: right bottom;
}

.overlay-flow-stop{
    width: 70px;
    height: 116px;
    background-image: url(../assets/images/sketch/flow-stop.png);
    background-position: right bottom;
}

.overlay-flow-start{
    width: 93px;
    height: 95px;
    background-image: url(../assets/images/sketch/flow-start.png);
    background-position: right bottom;
}


