

@media screen and (max-width: 1060px) {
    #section78{
        width: auto;
    }

    // #region7{
    //     display: block;
    //     margin: auto;
    //     width: auto;
    //     max-width: 35em;
    // }

    // #region8{
    //     display: none;
    // }

    #region11{
        margin-left: auto;
    }

    #video-btn{
        @include transform-origin(top, left);
        @include transform(scale(.7) translateZ(0));
    }

    #img2 .copy{
        margin-right: 3em;
        padding: 1em;
    }

    #asideBook{
        display: none;
    }
}

@media screen and (max-width: 970px) {

    #section78{
        margin-right: auto;
    }

    #region10{
        margin-left: auto;
    }

    #img4{
        display: none;
    }

    #map-california-figure{
        display: none;
    }

    #overlay-shape-3{
        display: none;
    }

    #map-tree{
        display: none;
    }

    #map-tree-figure{
        position: static;
    }

    #map {
        a{
            position: static;
        }
    }

    #map-credits{
        width: 70px;
    }

    #map-dist, #map-limit{
        display: none;
    }

    #figureTree{
        display: none;
    }

    #overlay-flow-stop-2{
        display: none;
    }

    #overlay-flow-start-2{
        display: none;
    }
}


@media screen and (max-width: 915px) {
    #region4{
        display: block;
        width: auto;
        max-width: 30em;
    }

    #tag-holder{
        display: block;
        margin: 1em 0;
        max-width: 90vw;
    }
}

@media screen and (max-width: 800px) {
	html{
		font-size: 80%;
	}

    .col{
        margin-left: 5em;
    }

    #section9{
        margin-right: auto;
    }

    #cover{
        max-height: 300px;
    }

    #video-btn{
        right: -75%;
    }

    #region2 {
        max-width: 70%;
    }
}

@media screen and (max-width: 750px) {
    .col, #section9{
        margin: auto;
    }

    #video-btn{
        display: none;
    }

    #overlay-flow-2{
        display: none;
    }

    #region2{
        max-width: 750px;
    }

    #region3{
        float: none;
        margin: 1.5em auto 0;
        width: auto;
        max-width: 35em;
    }

    #region4{
        margin: auto;
        max-width: 35em;
    }

    #region5{
        display: none;
    }

    #region9{
        height: auto;
    }

    #region10{
        height: auto;
    }

    #img1{
        display: none;
    }

    #map{
        h2{
            text-align: left;
        }

        .map-content-main{
            text-align: left;
            width: auto;
            max-width: 30em;

            p{
                margin-left: 0;
                min-height: auto;
            }
        }
    }
}

@media screen and (max-width: 550px) {
    #sort-btn{
        display: none;
    }
    
    #search-wrap{
        margin-left: auto;
    }

    #section78{
        margin-right: auto;
    }

    .map-content-main{
        margin-left: 0 !important;
        background: rgba(255, 255, 255, .7);
    }
}

@media screen and (max-width: 474px) {
    body > header{
        h2{
            display: none;
        }
    }
    
    .col, #section9{
        padding: 0 2em;        
    }

    #region3, #region4, #region6, #region7{
        padding: 0 2em;        
    }

    #img2 .copy{
        height: 23ex;
        max-width: 25em;
        margin-right: 0;
    }

    #map{
        display: none;
    }

    #layers{
        display: none;
    }

    #overlayToggle{
        display: none;
    }

}
