@font-face{
    font-family: 'Helvetica Neue';
    src: url('../assets/fonts/HelveticaNeue.dfont');
}

$blue: rgb(48, 145, 95);
$lightblue: rgb(48, 145, 95);
$lightgray: rgb(230, 230, 230);
$yellow: rgb(246, 211, 48);
$sidebar_width: 400px;
$sansfont: 'pragmatica-web', 'open-sans', 'Helvetica Neue', sans-serif;
$seriffont: 'minion-pro', 'judson', Georgia, serif;
