/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 17, ../../../../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 1, ../sass/screen/_main.scss */
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  font-size: 100%;
  overflow: hidden;
}

/* line 10, ../sass/screen/_main.scss */
#splash {
  position: absolute;
  height: 100%;
  width: 100%;
  background: white;
  -webkit-transition: opacity 0.5s linear;
  -moz-transition: opacity 0.5s linear;
  -o-transition: opacity 0.5s linear;
  transition: opacity 0.5s linear;
}

/* line 19, ../sass/screen/_main.scss */
#img-loader {
  position: absolute;
  width: 1px;
  height: 1px;
  background-image: url(../assets/images/toc/article1.jpg), url(../assets/images/article1/img2_bottom.jpg), url(../assets/images/article1/video.jpg), url(../assets/images/article1/img1_mist.jpg), url(../assets/images/article1/img3_dark.jpg);
}

/* line 26, ../sass/screen/_main.scss */
#main {
  position: absolute;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

/* line 33, ../sass/screen/_main.scss */
.view {
  position: absolute;
}

/* line 37, ../sass/screen/_main.scss */
.page-container-view {
  position: absolute;
  padding: 0 10vw;
  width: 80vw;
  height: 100vh;
  background-color: #1a1a1a;
  overflow: hidden;
}

/* line 46, ../sass/screen/_main.scss */
.page-container-shadows {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

/* line 55, ../sass/screen/_main.scss */
.page-scroll-view {
  width: 80vw;
  height: 100vh;
}

/* line 60, ../sass/screen/_main.scss */
.page-content-view {
  height: 100%;
  background: white;
  margin-left: -10vw;
  padding-left: 10vw;
}

/* line 68, ../sass/screen/_main.scss */
.page-view-full,
.page-view-exact {
  margin-right: 20vw;
  margin-left: 20vw;
}

/* line 73, ../sass/screen/_main.scss */
.page-view {
  position: static;
  float: left;
  width: 80vw;
  height: 100vh;
}

/* line 80, ../sass/screen/_main.scss */
.article-container-view {
  width: 100vw;
  height: 100vh;
}

/* line 85, ../sass/screen/_main.scss */
.article-content-view {
  height: 100%;
}

/* line 89, ../sass/screen/_main.scss */
.article-scroll-view {
  width: 100vw;
  height: 100vh;
}

/* line 94, ../sass/screen/_main.scss */
.article-pages-scroll-view {
  bottom: 0;
  width: 100vw;
  height: 100px;
  background: blue;
}

/* line 101, ../sass/screen/_main.scss */
.article-pages-content-view {
  height: 100%;
}

/* line 105, ../sass/screen/_main.scss */
.article-cover-view {
  display: inline-block;
  width: 100vw;
  height: 100vh;
  background: rgba(255, 0, 255, 0.5);
  background-size: cover;
  background-position: center bottom;
}

/* line 114, ../sass/screen/_main.scss */
.toc-title {
  position: absolute;
  right: 0;
  padding: .5em;
  color: white;
  font-family: 'Helvetica Neue', sans-serif;
  font-size: 3rem;
  font-weight: 800;
}
/* line 124, ../sass/screen/_main.scss */
.toc-title.coming-soon {
  color: #ccc;
}

/* line 129, ../sass/screen/_main.scss */
.toc-logo {
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 1rem;
}

/* line 136, ../sass/screen/_main.scss */
.toc-contents {
  -webkit-perspective: 500px;
}

/* line 140, ../sass/screen/_main.scss */
.toc-view {
  height: 100vh;
  width: 100vw;
  background-color: #2f2d2d;
  overflow-x: scroll;
  -webkit-overflow-scrolling: touch;
}

/* line 148, ../sass/screen/_main.scss */
.toc-view-button {
  background-color: #333;
  background-size: 100%;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  opacity: 0;
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
}

/* line 159, ../sass/screen/_main.scss */
.page-thumb-view {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: visible !important;
  height: 20vh;
  z-index: 5;
}
/* line 168, ../sass/screen/_main.scss */
.page-thumb-view .page-thumb-view-content {
  height: 20vh;
}
/* line 171, ../sass/screen/_main.scss */
.page-thumb-view .page-thumb-view-content .page-thumb {
  height: 20vh;
  background-color: black;
  border-radius: 20px;
}

/* line 180, ../sass/screen/_main.scss */
.intro-view {
  background-color: white;
}

/* line 184, ../sass/screen/_main.scss */
.transition-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
  perspective: 3000;
  pointer-events: none;
}

/* line 196, ../sass/screen/_main.scss */
.transition-element {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: 100%;
  background-position: 50% 50%;
}

/* Nexus 7 */
@media only screen and (min-device-width: 603px) and (max-device-width: 966px) {
  /* line 208, ../sass/screen/_main.scss */
  html, body {
    font-size: 80%;
  }
}
/* line 8, ../sass/screen/_pages.scss */
section.page-view-full {
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
  transform: scale(1.1);
}
/* line 11, ../sass/screen/_pages.scss */
section.page-view-full.in {
  -webkit-transform: none;
  -moz-transform: none;
  -ms-transform: none;
  -o-transform: none;
  transform: none;
}

/* line 20, ../sass/screen/_pages.scss */
.page-full,
.page-exact {
  position: relative;
  left: -10vw;
  width: 100vw;
  height: 95vh;
  background-size: 100%;
  background-position: center;
}

/* line 31, ../sass/screen/_pages.scss */
.page-exact {
  height: 100vh;
}

/* line 35, ../sass/screen/_pages.scss */
.page {
  position: relative;
  width: 100%;
  height: 80vh;
  padding: 2em;
  box-sizing: border-box;
}

/* line 43, ../sass/screen/_pages.scss */
.region1 {
  pointer-events: none;
  -webkit-flow-from: flow1;
}

/* line 48, ../sass/screen/_pages.scss */
#content1 {
  text-align: justify;
  font-family: georgia;
  font-size: 1.2rem;
  line-height: 2rem;
  hyphens: auto;
  -webkit-hyphens: auto;
  -webkit-flow-into: flow1;
}
/* line 60, ../sass/screen/_pages.scss */
#content1 p {
  margin-top: 1.7em;
  text-indent: 2em;
}
/* line 64, ../sass/screen/_pages.scss */
#content1 p.first {
  margin-top: 0;
  text-indent: 0;
}

/* line 71, ../sass/screen/_pages.scss */
.col-left-full {
  float: left;
  width: 47%;
  height: 80vh;
}

/* line 77, ../sass/screen/_pages.scss */
.col-right-full {
  float: right;
  width: 47%;
  height: 80vh;
}

/* line 83, ../sass/screen/_pages.scss */
.col-right-1 {
  float: right;
  margin-top: 39.63vh;
  width: 47%;
  height: 42vh;
}

/* line 90, ../sass/screen/_pages.scss */
.col-right-2 {
  float: right;
  margin-top: 0px;
  width: 47%;
  height: 38vh;
}

/* line 97, ../sass/screen/_pages.scss */
.col-right-3 {
  float: right;
  width: 35%;
  height: 80vh;
}

/* line 103, ../sass/screen/_pages.scss */
.col-left-1 {
  float: left;
  width: 35%;
  height: 80vh;
}

/* line 109, ../sass/screen/_pages.scss */
#article1-page-cover {
  background-image: url(../assets/images/article1/article1.jpg);
  height: 100vh;
}

/* line 116, ../sass/screen/_pages.scss */
#a1p2 .col1,
#a1p2 .col2 {
  height: 62vh;
}
/* line 119, ../sass/screen/_pages.scss */
#a1p2 blockquote {
  position: relative;
  top: .2em;
  color: #888;
  font-family: "pragmatica-web", "open-sans", "Helvetica Neue", sans-serif;
  font-weight: bold;
  font-size: 2.5rem;
  line-height: 4rem;
  height: 6rem;
}

/* line 131, ../sass/screen/_pages.scss */
#a1p7 {
  background-image: url(../assets/images/article1/img2_bottom.jpg);
  background-position: bottom center;
}
/* line 135, ../sass/screen/_pages.scss */
#a1p7 p {
  position: absolute;
  bottom: 0;
  right: 0;
  max-width: 32em;
  height: 19ex;
  margin-right: 5em;
  padding: 2em;
  color: rgba(0, 0, 0, 0.7);
  font-family: "minion-pro", "judson", Georgia, serif;
  font-size: 1.2rem;
  line-height: 1.6;
  text-align: justify;
  -webkit-shape-inside: polygon(0 40%, 30% 0, 100% 0, 100% 100%, 0 100%);
}

/* line 152, ../sass/screen/_pages.scss */
#a1p10 {
  background-color: #888;
}
/* line 155, ../sass/screen/_pages.scss */
#a1p10 .map-google {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* line 164, ../sass/screen/_pages.scss */
#videoBtn {
  position: absolute;
  top: -10px;
  left: 50%;
  width: 50%;
  height: 42vh;
  background-image: url(../assets/images/article1/video.jpg);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

/* line 176, ../sass/screen/_pages.scss */
#logImage {
  position: absolute;
  bottom: -12vh;
  left: 50%;
  width: 50%;
  height: 47vh;
  background-image: url(../assets/images/article1/img4_log.jpg);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

/* line 192, ../sass/screen/_pages.scss */
#fogImage {
  position: absolute;
  top: -10px;
  left: 40%;
  margin-left: 10px;
  width: 50vw;
  height: 100vh;
  background-size: 200%;
  background-position: -100% center;
  background-image: url(../assets/images/article1/img1_mist.jpg);
  -webkit-transform-origin: top left;
  -moz-transform-origin: top left;
  -ms-transform-origin: top left;
  -o-transform-origin: top left;
  transform-origin: top left;
  -webkit-transform: scale(0.93);
  -moz-transform: scale(0.93);
  -ms-transform: scale(0.93);
  -o-transform: scale(0.93);
  transform: scale(0.93);
}

/* line 208, ../sass/screen/_pages.scss */
#darkImage {
  position: absolute;
  top: -10px;
  left: 0%;
  margin-left: 10px;
  width: 50vw;
  height: 100vh;
  background-size: 200%;
  background-position: -100% center;
  background-image: url(../assets/images/article1/img3_dark.jpg);
  -webkit-transform-origin: top left;
  -moz-transform-origin: top left;
  -ms-transform-origin: top left;
  -o-transform-origin: top left;
  transform-origin: top left;
  -webkit-transform: scale(0.93);
  -moz-transform: scale(0.93);
  -ms-transform: scale(0.93);
  -o-transform: scale(0.93);
  transform: scale(0.93);
}

/* line 225, ../sass/screen/_pages.scss */
#elevation {
  width: 600px;
  height: 433px;
}

/* line 230, ../sass/screen/_pages.scss */
.drop-caps {
  float: left;
  margin-left: -0.05em;
  font-size: 9em;
  width: 120px;
  height: 130px;
  background-image: url(../assets/images/article1/drop-caps.svg);
  background-repeat: no-repeat;
  -webkit-shape-outside: ellipse(50px, 50px, 60px, 60px);
}

/* line 241, ../sass/screen/_pages.scss */
.transition-filter {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: 100%;
  pointer-events: none;
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
}

/* line 253, ../sass/screen/_pages.scss */
.transition-transform {
  position: absolute;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  pointer-events: none;
  opacity: 0;
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
}

/* line 263, ../sass/screen/_pages.scss */
.hidden-page {
  visibility: hidden;
}

/* Nexus 7 */
@media only screen and (min-device-width: 603px) and (max-device-width: 966px) {
  /* line 270, ../sass/screen/_pages.scss */
  .col-right-1 {
    margin-top: 37.8vh;
  }
}
/* line 3, ../sass/screen/_map.scss */
.map-content {
  position: absolute;
  height: 100vh;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.99);
  background-image: url(../assets/images/article1/map.jpg);
  background-repeat: no-repeat;
  background-size: auto 100%;
  background-position: right top;
  z-index: 10;
}
/* line 15, ../sass/screen/_map.scss */
.map-content h2 {
  font-family: georgia;
  font-size: 4rem;
  text-align: right;
  width: 30rem;
  display: inline-block;
}
/* line 23, ../sass/screen/_map.scss */
.map-content h5 {
  font-weight: bold;
}
/* line 27, ../sass/screen/_map.scss */
.map-content .map-content-main {
  position: absolute;
  top: 10%;
  left: 6%;
  right: 48%;
  bottom: 0;
  padding-bottom: 0;
  text-align: right;
}
/* line 41, ../sass/screen/_map.scss */
.map-content .map-content-main p {
  margin: 1.9em 0;
  line-height: 1.9;
  text-align: justify;
  display: block;
  min-height: 200px;
  margin-left: 4.5em;
  margin-top: 22px;
  padding-bottom: 0;
  margin-bottom: 0;
  font-size: 1.4rem;
  text-indent: 0;
  -webkit-shape-inside: polygon(30px 0, 100% 0, 100% 500px, 130px 500px, 0% 50px);
}
/* line 57, ../sass/screen/_map.scss */
.map-content .map-content-main figure {
  position: absolute;
  top: 6rem;
  left: -30px;
  top: 27%;
  left: -2%;
  top: 3.7rem;
  left: -7%;
  width: 12rem;
  opacity: 1;
  -webkit-transition: opacity 1s ease-out;
  -webkit-transition-delay: 1s;
  -moz-transition: opacity 1s ease-out 1s;
  -o-transition: opacity 1s ease-out 1s;
  transition: opacity 1s ease-out 1s;
}
/* line 72, ../sass/screen/_map.scss */
.map-content .map-content-main figure.in {
  opacity: 1;
}
/* line 76, ../sass/screen/_map.scss */
.map-content .map-content-main figure #map-california {
  width: 100%;
  height: 100%;
}
/* line 83, ../sass/screen/_map.scss */
.map-content a {
  position: absolute;
  display: block;
  padding: 1em;
  line-height: 1.3;
  text-transform: uppercase;
  color: #30915f;
}
/* line 91, ../sass/screen/_map.scss */
.map-content a.plus {
  width: 300px;
}
/* line 98, ../sass/screen/_map.scss */
.low-perf .map-content a.plus.in img, .high-perf .map-content a.plus.in img {
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
}
/* line 102, ../sass/screen/_map.scss */
.low-perf .map-content a.plus.in span, .high-perf .map-content a.plus.in span {
  opacity: 1;
}
/* line 108, ../sass/screen/_map.scss */
.high-perf .map-content a.plus:hover img {
  -webkit-transform: scale(1.2) rotate(180deg);
  -moz-transform: scale(1.2) rotate(180deg);
  -ms-transform: scale(1.2) rotate(180deg);
  -o-transform: scale(1.2) rotate(180deg);
  transform: scale(1.2) rotate(180deg);
}
/* line 113, ../sass/screen/_map.scss */
.map-content a.plus img {
  position: absolute;
}
/* line 117, ../sass/screen/_map.scss */
.high-perf .map-content a.plus img {
  -webkit-transform-origin: center center;
  -moz-transform-origin: center center;
  -ms-transform-origin: center center;
  -o-transform-origin: center center;
  transform-origin: center center;
  -webkit-transform: scale(0.2);
  -moz-transform: scale(0.2);
  -ms-transform: scale(0.2);
  -o-transform: scale(0.2);
  transform: scale(0.2);
  -webkit-transition: -webkit-transform 1s;
  -moz-transition: -moz-transform 1s;
  -o-transition: -o-transform 1s;
  transition: transform 1s;
}
/* line 123, ../sass/screen/_map.scss */
.map-content a.plus span {
  display: block;
  margin-left: 2.5em;
  width: 200px;
}
/* line 130, ../sass/screen/_map.scss */
.high-perf .map-content a.plus span {
  -webkit-transition: opacity 1s ease-out;
  -webkit-transition-delay: 0.5s;
  -moz-transition: opacity 1s ease-out 0.5s;
  -o-transition: opacity 1s ease-out 0.5s;
  transition: opacity 1s ease-out 0.5s;
}
/* line 135, ../sass/screen/_map.scss */
.map-content a.info {
  padding-right: 30px;
  background-image: url(../assets/images/info-icon.svg);
  background-repeat: no-repeat;
  background-position: right center;
}

/* line 145, ../sass/screen/_map.scss */
#map-dist {
  position: absolute;
  top: 49vh;
  right: 16vw;
  font-size: .9rem;
  max-width: 18em;
  line-height: 1.3;
  -webkit-transition: opacity 1s;
  -moz-transition: opacity 1s;
  -o-transition: opacity 1s;
  transition: opacity 1s;
}
/* line 155, ../sass/screen/_map.scss */
#map-dist.in {
  opacity: 1;
}

/* line 160, ../sass/screen/_map.scss */
#map-limit {
  position: absolute;
  top: 64px;
  right: 115px;
  font-size: .9rem;
  max-width: 15em;
  line-height: 1.3;
  -webkit-transition: opacity 1s;
  -moz-transition: opacity 1s;
  -o-transition: opacity 1s;
  transition: opacity 1s;
}
/* line 170, ../sass/screen/_map.scss */
#map-limit.in {
  opacity: 1;
}

/* line 175, ../sass/screen/_map.scss */
#map-plus-1 {
  position: absolute;
  top: 450px;
  left: 20%;
}

/* line 181, ../sass/screen/_map.scss */
#map-plus-2 {
  top: 450px;
  right: 100px;
}

/* line 187, ../sass/screen/_map.scss */
#map-plus-3 {
  bottom: 30px;
  right: 100px;
}

/* line 193, ../sass/screen/_map.scss */
#map-credits {
  margin-left: 1em;
  bottom: 30px;
}

/* line 198, ../sass/screen/_map.scss */
#map-tree {
  border: 3px solid #666;
  background-color: rgba(255, 255, 255, 0.5);
  -webkit-transition: opacity 1s ease-out;
  -webkit-transition-delay: 1s;
  -moz-transition: opacity 1s ease-out 1s;
  -o-transition: opacity 1s ease-out 1s;
  transition: opacity 1s ease-out 1s;
}
/* line 205, ../sass/screen/_map.scss */
#map-tree.in {
  opacity: 1;
}

/* line 210, ../sass/screen/_map.scss */
#map-tree-figure {
  position: absolute;
  left: 20%;
  bottom: 30px;
  width: 250px;
}

/* line 218, ../sass/screen/_map.scss */
#elevation {
  width: 50%;
  height: 65%;
  position: absolute;
  left: 50%;
  bottom: -12vh;
  background-image: url(../assets/images/article1/elevation-small-n10.png);
  background-repeat: no-repeat;
  background-size: 100%;
  border: 1px solid #ccc;
  background-color: white;
}

/* line 231, ../sass/screen/_map.scss */
#elevation-html {
  display: none;
  height: 100vh;
  width: 139vh;
  margin: 0 auto;
  position: relative;
  background-image: url(../assets/images/article1/elevation-graphic.svg);
  background-repeat: no-repeat;
  background-size: 100%;
  background-color: white;
  font-size: 1.5rem;
}

/* line 246, ../sass/screen/_map.scss */
.elevation-label {
  opacity: 1;
  position: absolute;
}

/* line 251, ../sass/screen/_map.scss */
#elevation-title {
  bottom: 10px;
  left: 50%;
  font-weight: bold;
}

/* line 257, ../sass/screen/_map.scss */
#elevation-label2 {
  bottom: 19%;
  left: 22%;
  width: 24%;
  height: 12%;
  line-height: 1.5;
  text-align: justify;
  -webkit-shape-inside: polygon(0 0, 100% 0, 80% 100%, 0 100%);
}

/* line 267, ../sass/screen/_map.scss */
#elevation-wetter {
  right: 20%;
  top: 34%;
}

/* line 272, ../sass/screen/_map.scss */
#elevation-drier {
  right: 3%;
  top: 34%;
}

/* line 277, ../sass/screen/_map.scss */
#elevation-mt {
  right: 3%;
  top: 20%;
}

/* line 282, ../sass/screen/_map.scss */
#elevation-top {
  left: 7%;
  bottom: 33%;
}

/* line 287, ../sass/screen/_map.scss */
#elevation-bottom {
  left: 5%;
  bottom: 15%;
}

/* line 292, ../sass/screen/_map.scss */
#elevation-text {
  padding: 1.5em;
  top: 0;
}
/* line 296, ../sass/screen/_map.scss */
#elevation-text b {
  display: block;
  font-weight: bold;
  font-size: 1.8rem;
}
/* line 302, ../sass/screen/_map.scss */
#elevation-text p {
  margin-top: .7em;
  height: 200px;
  text-indent: 0;
  font-size: 1.5rem;
  line-height: 1.5;
  -webkit-shape-inside: polygon(0 0, 60% 0, 50% 100%, 0 100%);
}

/* line 315, ../sass/screen/_map.scss */
.low-perf #popup-forest svg {
  -webkit-transition: opacity 0.4s ease-out;
  -webkit-transition-delay: 2s;
  -moz-transition: opacity 0.4s ease-out 2s;
  -o-transition: opacity 0.4s ease-out 2s;
  transition: opacity 0.4s ease-out 2s;
  opacity: 0;
}
/* line 320, ../sass/screen/_map.scss */
.low-perf #popup-forest.opened svg {
  display: block;
  opacity: 1;
}

/* line 326, ../sass/screen/_map.scss */
#map-canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* line 334, ../sass/screen/_map.scss */
#curl-spot {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 200px;
  height: 200px;
}

/* line 343, ../sass/screen/_map.scss */
#map-back-button {
  background-image: url(../assets/images/buttons/close-btn.png);
  background-color: transparent;
  background-size: 100%;
  border: none;
  padding: 0;
  cursor: pointer;
  width: 60px;
  height: 60px;
  margin-top: 5px;
  margin-right: 5px;
}

/* Nexus 7 */
@media only screen and (min-device-width: 603px) and (max-device-width: 966px) {
  /* line 358, ../sass/screen/_map.scss */
  #elevation {
    background-image: url(../assets/images/article1/elevation-small.png);
  }
}
