<div id="a1p10" class="page-full">
    
    <div class="map-content">
        <div class="map-content-main">
            <h2>Where the Giants Grow</h2>
            <p>
                A slender, 250-mile-long corridor on the western slope of the Sierra Nevada is the giant sequoia’s only natural habitat. No tree surpasses it in volume of wood. Fortun&shy;ately, logging proved impractical, and in 1890 many of the titans gained protect&shy;ion with the creation of Sequoia and Yosemite National Parks.
            </p>
            <figure id="map-california-figure" class="js-animates">
                <img id="map-california" src="assets/images/california.svg">
                <figcaption>
                    AREA ENLARGED
                </figcaption>
            </figure>
        </div>

        <div id="map-dist" class="js-animates">
            <h5>GROVE DISTRIBUTION</h5>
            All but 8 of the 67 identified sequoia groves lie south of 
            the Kings River. These southern groves usually hold more—and larger—trees. 
        </div>

        <div id="map-limit" class="js-animates">
            <h5>NORTHERN LIMIT</h5>
            Only six giant sequoias form this isolated old-growth grove.
        </div>
        <div id="curl-spot"></div>
    </div>
</div>
