<div id="a1p11" class="page">
    <div class="region1 col1 col-left-full">
    
    </div>
    <div class="region1 col2 col-right-2">
    
    </div>
    <div id="elevation" class="js-transform-element" data-type="html" data-square="true" data-replacement="elevation-html">
    </div>
    <div id="elevation-html">
        <div id="elevation-title" class="elevation-label" style="opacity: 1;">Elevation Cross Section</div>
        <div id="elevation-label2" class="elevation-label" style="opacity: 1;">Elevation range of giant sequoias</div>
        <div id="elevation-wetter" class="elevation-label" style="opacity: 1;">WETTER</div>
        <div id="elevation-drier" class="elevation-label" style="opacity: 1;">DRIER</div>
        <div id="elevation-mt" class="elevation-label" style="opacity: 1;">Mount Whitney 14,494 ft</div>
        <div id="elevation-top" class="elevation-label" style="opacity: 1;">8,000 ft</div>
        <div id="elevation-bottom" class="elevation-label" style="opacity: 1;">4,000 ft</div>
        <div id="elevation-text" class="elevation-label" style="opacity: 1;">
            <b>SEQUOIA SWEET SPOT</b>
            <p>Conditions that suit the tree's growth and reproduction exist in a narrow elevation range. The Sierra's eastern slope is too dry for sequoias, which need rain and the deep moisture of heavy snowmelt.</p>
        </div>
    </div>
</div>
