/* line 17, ../../../../../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 1, ../sass/screen/_main.scss */
html {
  overfow: hidden;
}

/* line 5, ../sass/screen/_main.scss */
body {
  font-family: "pragmatica-web", "open-sans", "Helvetica Neue", sans-serif;
  background-color: #e6e6e6;
  color: #333;
  -webkit-transition: background-color 1s;
  -moz-transition: background-color 1s;
  -o-transition: background-color 1s;
  transition: background-color 1s;
}

/* line 13, ../sass/screen/_main.scss */
article {
  overflow: hidden;
}

/* line 17, ../sass/screen/_main.scss */
hr.thick {
  border: none;
  height: .6rem;
  background-color: rgba(2, 17, 34, 0.5);
  margin: 1.5em 0;
}

/* line 24, ../sass/screen/_main.scss */
body > header {
  position: fixed;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  -webkit-align-items: center;
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
  width: 100%;
  min-height: 55px;
  background-color: black;
  z-index: 50;
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
}
/* line 38, ../sass/screen/_main.scss */
body > header img {
  border-right: 1px solid rgba(255, 255, 255, 0.5);
  vertical-align: middle;
}
/* line 43, ../sass/screen/_main.scss */
body > header h2 {
  margin-left: 1em;
  color: white;
  vertical-align: middle;
}
/* line 49, ../sass/screen/_main.scss */
body > header button {
  border: 0;
  background-color: transparent;
  border-left: 1px solid rgba(255, 255, 255, 0.5);
  display: inline-block;
  padding: 10px;
  height: 60px;
  color: white;
}
/* line 59, ../sass/screen/_main.scss */
body > header button.active, .no-touch body > header button:hover {
  background-color: #30915f;
}
/* line 64, ../sass/screen/_main.scss */
body > header #sort-btn {
  margin-left: auto;
  margin-right: 0;
}

/* line 70, ../sass/screen/_main.scss */
sup {
  vertical-align: super;
  font-size: .5rem;
}

/* line 75, ../sass/screen/_main.scss */
article {
  overflow: hidden;
}

/* line 79, ../sass/screen/_main.scss */
blockquote {
  width: 70vw;
  margin: auto;
  padding: .4em 0;
  font-family: "minion-pro", "judson", Georgia, serif;
  font-size: 2rem;
  font-style: italic;
  text-align: center;
  line-height: 1.4;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

/* line 92, ../sass/screen/_main.scss */
#beacon {
  position: absolute;
  height: 1px;
  width: 42px;
}

/* line 98, ../sass/screen/_main.scss */
#main {
  overflow-x: hidden;
}

/* line 102, ../sass/screen/_main.scss */
#share-tools {
  display: none;
  position: absolute;
  right: 10px;
}

/* line 108, ../sass/screen/_main.scss */
#tag-holder {
  margin-top: 10px;
  width: 400px;
}

/* line 113, ../sass/screen/_main.scss */
.square {
  display: inline-block;
  position: relative;
  padding: .2em;
  width: 40px;
  height: 40px;
  color: #30915f;
  vertical-align: top;
  font-size: .8rem;
  font-weight: bold;
  border: 2px solid #30915f;
  cursor: pointer;
  -webkit-box-sizing: border-box;
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  transition: none;
}
/* line 128, ../sass/screen/_main.scss */
.square:hover {
  border: 2px solid rgba(77, 88, 236, 0.2);
  background: #30915f;
  color: #e6e6e6;
}
/* line 133, ../sass/screen/_main.scss */
.square:hover svg polygon, .square:hover svg path {
  fill: #e6e6e6;
}
/* line 138, ../sass/screen/_main.scss */
.square .square-label {
  position: absolute;
  bottom: 5px;
  right: 5px;
}
/* line 144, ../sass/screen/_main.scss */
.square svg {
  position: absolute;
  top: 0;
  left: 0;
}

/* line 151, ../sass/screen/_main.scss */
.tag {
  display: inline-block;
  padding: .75em 1.5em;
  margin: 0 0 4px;
  height: 40px;
  color: #9aa0a7;
  text-transform: uppercase;
  background-color: #f5f5f6;
  -webkit-box-sizing: border-box;
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  transition: none;
}
/* line 162, ../sass/screen/_main.scss */
.tag:hover {
  color: #f5f5f6;
  background-color: #9aa0a7;
}

/* line 168, ../sass/screen/_main.scss */
.popup {
  display: none;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background: transparent;
  z-index: 90;
  -webkit-perspective: 3000;
  -moz-perspective: 3000;
  -ms-perspective: 3000;
  -o-perspective: 3000;
  perspective: 3000;
}

/* line 180, ../sass/screen/_main.scss */
.popup-box {
  position: relative;
}

/* line 184, ../sass/screen/_main.scss */
.popup-hit-area {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  cursor: pointer;
}

/* line 192, ../sass/screen/_main.scss */
.popup-close {
  position: absolute;
  top: 0px;
  right: 0px;
  width: 50px;
  height: 50px;
  background-image: url(../assets/images/close-btn.svg);
  background-repeat: no-repeat;
  background-position: center;
  z-index: 1;
  cursor: pointer;
  -webkit-transition: background-color 1s;
  -moz-transition: background-color 1s;
  -o-transition: background-color 1s;
  transition: background-color 1s;
}
/* line 206, ../sass/screen/_main.scss */
.popup-close:hover {
  background-color: #30915f;
}
/* line 210, ../sass/screen/_main.scss */
.popup-close.dark {
  background-image: url(../assets/images/close-btn-dark.svg);
}

/* line 215, ../sass/screen/_main.scss */
#popup-elevation, #popup-forest {
  height: 100%;
}
/* line 219, ../sass/screen/_main.scss */
#popup-elevation .popup-box, #popup-forest .popup-box {
  margin: 20vh auto;
  width: 600px;
  height: 433px;
  background: white;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.3);
}

/* line 229, ../sass/screen/_main.scss */
#popup-elevation svg {
  position: absolute;
  bottom: 0;
}

/* line 235, ../sass/screen/_main.scss */
.low-perf .popup {
  -webkit-transition: opacity 0.3s ease-out;
  opacity: 0;
}
/* line 239, ../sass/screen/_main.scss */
.low-perf .popup .popup-box {
  -webkit-transition: -webkit-transform 0.3s ease-out;
}
/* line 243, ../sass/screen/_main.scss */
.low-perf .popup.opening {
  display: block;
  opacity: 0;
}
/* line 247, ../sass/screen/_main.scss */
.low-perf .popup.opening .popup-box {
  -webkit-transform: translateZ(-600px) rotateX(90deg);
}
/* line 252, ../sass/screen/_main.scss */
.low-perf .popup.opened {
  opacity: 1;
  display: block;
}
/* line 256, ../sass/screen/_main.scss */
.low-perf .popup.opened .popup-box {
  -webkit-transform: translateZ(0px) rotateX(0deg);
}
/* line 261, ../sass/screen/_main.scss */
.low-perf .popup.closing {
  display: block;
  opacity: 0;
  -webkit-transition: opacity 0.2s ease-out;
}

/* line 268, ../sass/screen/_main.scss */
#popup-video {
  z-index: 101;
}
/* line 272, ../sass/screen/_main.scss */
#popup-video .popup-box {
  position: absolute;
  background-color: #333;
  opacity: 0;
  overflow: hidden;
}
/* line 278, ../sass/screen/_main.scss */
#popup-video .popup-box video {
  position: absolute;
  top: 50%;
  left: 50%;
  opacity: 0;
  background: black;
}
/* line 287, ../sass/screen/_main.scss */
#popup-video .video-controls {
  position: absolute;
  bottom: 0;
  height: 50px;
  background: rgba(0, 0, 0, 0.8);
  left: 0;
  width: 100%;
}
/* line 295, ../sass/screen/_main.scss */
#popup-video .video-controls button {
  background: none;
  border: none;
  width: 100%;
  height: 100%;
}
/* line 302, ../sass/screen/_main.scss */
#popup-video .video-controls .playpause {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 50px;
  height: 50px;
}
/* line 309, ../sass/screen/_main.scss */
#popup-video .video-controls .playpause button {
  cursor: pointer;
  min-width: 30px;
  background-image: url(../assets/images/video-ui-play.svg);
  background-repeat: no-repeat;
  background-position: center;
  -webkit-transition: background-color 1s;
  -moz-transition: background-color 1s;
  -o-transition: background-color 1s;
  transition: background-color 1s;
}
/* line 317, ../sass/screen/_main.scss */
#popup-video .video-controls .playpause button.pause {
  background-image: url(../assets/images/video-ui-pause.svg);
}
/* line 321, ../sass/screen/_main.scss */
#popup-video .video-controls .playpause button:hover {
  background-color: #30915f;
}
/* line 328, ../sass/screen/_main.scss */
#popup-video .video-controls input.time-bar {
  position: relative;
  display: block;
  width: 74%;
  margin: 24px 0 0 10%;
  -webkit-appearance: none;
  background: rgba(255, 255, 255, 0.5);
  height: 6px;
  z-index: 1;
}
/* line 340, ../sass/screen/_main.scss */
#popup-video .video-controls input.time-bar::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 25px;
  height: 6px;
  background: #30915f;
  position: relative;
  z-index: 2;
}
/* line 353, ../sass/screen/_main.scss */
#popup-video .video-controls .togglemute {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 50px;
  height: 50px;
}
/* line 360, ../sass/screen/_main.scss */
#popup-video .video-controls .togglemute button {
  cursor: pointer;
  background-image: url(../assets/images/video-ui-sound-on.svg);
  background-repeat: no-repeat;
  background-position: center;
  -webkit-transition: background-color 1s;
  -moz-transition: background-color 1s;
  -o-transition: background-color 1s;
  transition: background-color 1s;
}
/* line 369, ../sass/screen/_main.scss */
#popup-video .video-controls .togglemute button.mute {
  background-image: url(../assets/images/video-ui-sound-off.svg);
}
/* line 373, ../sass/screen/_main.scss */
#popup-video .video-controls .togglemute button:hover {
  background-color: #30915f;
}
/* line 379, ../sass/screen/_main.scss */
#popup-video .video-controls .video-time {
  position: absolute;
  right: 6%;
  bottom: 0;
  color: white;
  font-size: .9rem;
  line-height: 50px;
  width: 9%;
  text-align: center;
  text-shadow: 0px 0px 2px #000;
}

/* line 393, ../sass/screen/_main.scss */
#cover {
  height: 50vh;
  background-image: url(../assets/images/cover.jpg);
  background-size: auto 100vh;
  background-repeat: no-repeat;
  background-position: 30% center;
  -webkit-transition: opacity 0.2s ease-out;
  -moz-transition: opacity 0.2s ease-out;
  -o-transition: opacity 0.2s ease-out;
  transition: opacity 0.2s ease-out;
}
/* line 402, ../sass/screen/_main.scss */
.high-perf #cover {
  height: 90vh;
  -webkit-transition: height 0.2s ease-in-out;
  -moz-transition: height 0.2s ease-in-out;
  -o-transition: height 0.2s ease-in-out;
  transition: height 0.2s ease-in-out;
}
/* line 407, ../sass/screen/_main.scss */
.high-perf #cover.resolve {
  -webkit-transition: height 2s ease-in-out;
  -moz-transition: height 2s ease-in-out;
  -o-transition: height 2s ease-in-out;
  transition: height 2s ease-in-out;
  height: 50vh;
}

/* line 413, ../sass/screen/_main.scss */
time {
  display: block;
  margin-top: 5rem;
  color: #30915f;
  font-weight: bold;
  font-size: .8rem;
}

/* line 421, ../sass/screen/_main.scss */
h1 {
  margin-top: .2em;
  margin-bottom: 1rem;
  font-size: 156px;
  font-size: 5rem;
  font-weight: bold;
  letter-spacing: -0.03em;
}

/* line 430, ../sass/screen/_main.scss */
i {
  font-style: italic;
}

/* line 434, ../sass/screen/_main.scss */
a {
  color: #30915f;
  text-decoration: none;
  -webkit-transition: color 0.2s ease-out;
  -moz-transition: color 0.2s ease-out;
  -o-transition: color 0.2s ease-out;
  transition: color 0.2s ease-out;
}
/* line 439, ../sass/screen/_main.scss */
a:hover {
  color: #30915f;
}

/* line 444, ../sass/screen/_main.scss */
section {
  position: relative;
}

/* line 448, ../sass/screen/_main.scss */
.clear {
  clear: both;
}

/* line 452, ../sass/screen/_main.scss */
.subhead {
  display: block;
  font-size: 1.2rem;
  font-family: "minion-pro", "judson", Georgia, serif;
  font-style: italic;
  line-height: 1.8;
  margin: 1em 0 2em 0;
}

/* line 461, ../sass/screen/_main.scss */
.byline {
  font-size: .8rem;
  margin: 2rem 0;
  line-height: 2;
  text-transform: uppercase;
}
/* line 467, ../sass/screen/_main.scss */
.byline a {
  font-weight: bold;
}

/* line 472, ../sass/screen/_main.scss */
.col {
  padding: 0 1em;
  max-width: 35em;
  margin: auto;
  margin-left: 15vw;
}

/* line 479, ../sass/screen/_main.scss */
.drop-caps {
  float: left;
  font-size: 9em;
  width: 120px;
  height: 110px;
  background-image: url(../assets/images/drop-caps.svg);
  background-repeat: no-repeat;
  -webkit-shape-outside: ellipse(50%, 50%, 50%, 43%);
}

/* line 495, ../sass/screen/_main.scss */
.img {
  opacity: 0;
  -webkit-transition: opacity 1s ease-out;
  -moz-transition: opacity 1s ease-out;
  -o-transition: opacity 1s ease-out;
  transition: opacity 1s ease-out;
}

/* line 500, ../sass/screen/_main.scss */
p {
  margin: 1.9em 0;
  line-height: 1.9;
  text-align: justify;
  text-indent: 1.5em;
}
/* line 507, ../sass/screen/_main.scss */
p.first {
  text-indent: 0;
}

/* line 527, ../sass/screen/_main.scss */
#sort-btn {
  text-transform: uppercase;
  padding: 10px 15px;
  font-weight: bold;
  cursor: pointer;
}
/* line 513, ../sass/screen/_main.scss */
#sort-btn:after {
  content: '\00A0';
  width: 8px;
  margin-left: 2px;
  float: right;
  background-image: url(../assets/images/arrow-down.svg);
  background-repeat: no-repeat;
  background-position: center;
}

/* line 536, ../sass/screen/_main.scss */
#search-wrap {
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  width: 60px;
  cursor: pointer;
  -webkit-transition: width 0.5s ease-out;
  -moz-transition: width 0.5s ease-out;
  -o-transition: width 0.5s ease-out;
  transition: width 0.5s ease-out;
}

/* line 545, ../sass/screen/_main.scss */
#search-form {
  display: inline-block;
}
/* line 548, ../sass/screen/_main.scss */
#search-form input {
  padding: 2px;
  background-color: black;
  color: white;
  border: 1px solid rgba(255, 255, 255, 0.5);
  font-size: 1rem;
  width: 100%;
  opacity: 0;
  box-sizing: border-box;
  -webkit-transition: opacity 0.3s ease-out;
  -moz-transition: opacity 0.3s ease-out;
  -o-transition: opacity 0.3s ease-out;
  transition: opacity 0.3s ease-out;
}
/* line 559, ../sass/screen/_main.scss */
#search-form input::-webkit-input-placeholder {
  color: #555;
}

/* line 565, ../sass/screen/_main.scss */
#search-btn {
  width: 60px;
  vertical-align: middle;
  background-image: url(../assets/images/search-icon.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 1.7rem;
}

/* line 574, ../sass/screen/_main.scss */
#search-wrap.expanded {
  width: 230px;
}
/* line 577, ../sass/screen/_main.scss */
#search-wrap.expanded #search-form {
  display: inline-block;
  width: 155px;
}
/* line 582, ../sass/screen/_main.scss */
#search-wrap.expanded input {
  opacity: 1;
}

/* line 587, ../sass/screen/_main.scss */
#main {
  -webkit-transition: -webkit-transform 0.5s, -webkit-filter 0.5s;
  -moz-transition: -moz-transform 0.5s, -webkit-filter 0.5s;
  -o-transition: -o-transform 0.5s, -webkit-filter 0.5s;
  transition: transform 0.5s, -webkit-filter 0.5s;
  -webkit-filter: none;
}

/* line 592, ../sass/screen/_main.scss */
body.withSidebar #main {
  -webkit-filter: opacity(75%) blur(2px);
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
}

/* line 597, ../sass/screen/_main.scss */
#comments-btn {
  width: 106px;
  background-image: url(../assets/images/head-icon.svg);
  background-repeat: no-repeat;
  background-position: 45px;
  margin-right: 0px;
  padding-left: 30px;
  padding-right: 30px;
  cursor: pointer;
}
/* line 513, ../sass/screen/_main.scss */
#comments-btn:after {
  content: '\00A0';
  width: 8px;
  margin-left: 2px;
  float: right;
  background-image: url(../assets/images/arrow-down.svg);
  background-repeat: no-repeat;
  background-position: center;
}
/* line 609, ../sass/screen/_main.scss */
#comments-btn #comment-count {
  background-color: #FFDB4E;
  color: black;
  width: 15px;
  height: 15px;
  line-height: 15px;
  font-weight: bold;
  float: left;
  pointer-events: none;
}

/* line 621, ../sass/screen/_main.scss */
#overlayToggle {
  position: fixed;
  padding: 1em;
  bottom: 0;
  height: 2ex;
  width: 100%;
  color: white;
  font-family: indie-flower;
  background: rgba(0, 0, 0, 0.2);
  z-index: 50;
  cursor: pointer;
  -webkit-transition: background 0.2s linear;
  -moz-transition: background 0.2s linear;
  -o-transition: background 0.2s linear;
  transition: background 0.2s linear;
}
/* line 634, ../sass/screen/_main.scss */
#overlayToggle:hover {
  background: rgba(0, 0, 0, 0.5);
}

/* line 639, ../sass/screen/_main.scss */
#item-list {
  display: none;
  position: fixed;
  top: 60px;
  width: 400px;
  right: -400px;
  max-height: -webkit-calc(100% - 60px);
  background-color: #e6e6e6;
  z-index: 15;
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-left: 1px solid black;
  border-bottom: 1px solid black;
  overflow-y: auto;
  overflow-x: hidden;
  -webkit-transition: right 0.3s;
  -moz-transition: right 0.3s;
  -o-transition: right 0.3s;
  transition: right 0.3s;
}
/* line 657, ../sass/screen/_main.scss */
#item-list.opening {
  display: block;
}
/* line 661, ../sass/screen/_main.scss */
#item-list.opened {
  display: block;
  opacity: 1;
  right: 0;
}
/* line 667, ../sass/screen/_main.scss */
#item-list.closing {
  display: block;
  -webkit-transition: right 0.2s;
  -moz-transition: right 0.2s;
  -o-transition: right 0.2s;
  transition: right 0.2s;
}
/* line 672, ../sass/screen/_main.scss */
#item-list h3 {
  line-height: 2.5rem;
  margin: 0;
  font-size: 0.7rem;
  text-align: center;
  text-transform: uppercase;
  text-indent: 0;
  background: black;
  color: white;
}
/* line 683, ../sass/screen/_main.scss */
#item-list #comment-list {
  max-height: 80%;
}
/* line 687, ../sass/screen/_main.scss */
#item-list .comment_entry {
  margin: 15px;
}
/* line 690, ../sass/screen/_main.scss */
#item-list .comment_entry textarea {
  width: 100%;
  box-sizing: border-box;
  font-size: .8rem;
  height: 1.5rem;
  -webkit-transition: height 0.4s;
  -moz-transition: height 0.4s;
  -o-transition: height 0.4s;
  transition: height 0.4s;
}
/* line 698, ../sass/screen/_main.scss */
#item-list .comment_entry textarea:focus {
  height: 4rem;
}
/* line 702, ../sass/screen/_main.scss */
#item-list .comment_entry button {
  display: inline-block;
  text-transform: uppercase;
  border: 1px solid #bbb;
  color: #777;
  background-color: transparent;
  margin: 10px 10px 0 0;
  font-size: .8rem;
}
/* line 712, ../sass/screen/_main.scss */
#item-list .comment_entry button:hover {
  background: white;
}
/* line 717, ../sass/screen/_main.scss */
#item-list article {
  margin: 15px;
  border-bottom: 1px solid #BBB;
  max-height: 260px;
  overflow-y: hidden;
  position: relative;
}
/* line 724, ../sass/screen/_main.scss */
#item-list article header {
  clear: both;
  position: static;
  background-color: #e6e6e6;
  -webkit-perspective: 300px;
  -moz-perspective: 300px;
  -ms-perspective: 300px;
  -o-perspective: 300px;
  perspective: 300px;
}
/* line 731, ../sass/screen/_main.scss */
#item-list article .avatar {
  width: 50px;
  height: 50px;
  display: inline-block;
  background-image: url(../assets/images/head-icon.svg);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-color: #555;
  background-size: 100%;
  float: left;
  margin-right: 15px;
  -webkit-transform-origin: 50% 50%;
  -moz-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  -o-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
}
/* line 745, ../sass/screen/_main.scss */
#item-list article h4 {
  display: block;
  height: 25px;
}
/* line 749, ../sass/screen/_main.scss */
#item-list article time {
  margin-top: 0;
  display: inline-block;
  height: 25px;
}
/* line 755, ../sass/screen/_main.scss */
#item-list article p {
  text-indent: 0;
  line-height: 1.5rem;
  margin: .5rem 0;
  font-size: .9rem;
}
/* line 762, ../sass/screen/_main.scss */
#item-list article p.overflow {
  position: absolute;
  bottom: 0px;
  background: white;
  width: 100%;
  background-color: #e6e6e6;
}

/* line 772, ../sass/screen/_main.scss */
#content {
  -webkit-flow-into: content;
}

/* line 778, ../sass/screen/_main.scss */
.region {
  -webkit-flow-from: content;
}

/* line 782, ../sass/screen/_main.scss */
#region1 {
  height: 40ex;
}

/* line 786, ../sass/screen/_main.scss */
#region2 {
  height: 60ex;
  -webkit-shape-inside: polygon(0% 0%, 65% 0%, 65% 300px, 100% 300px, 100% 100%, 0% 100%);
}

/* line 791, ../sass/screen/_main.scss */
#region3 {
  float: right;
  width: 30em;
  max-width: 40vw;
  height: 120ex;
  margin-top: 1.5em;
  margin-right: 3em;
}

/* line 800, ../sass/screen/_main.scss */
#region5 {
  position: absolute;
  left: 50%;
  margin-top: 1.5em;
  padding-top: 47em;
  width: 27em;
  height: 35ex;
  max-height: 80vh;
}

/* line 811, ../sass/screen/_main.scss */
#region6 {
  position: relative;
  height: 55ex;
  max-width: 35em;
  margin: 0 auto;
}

/* line 818, ../sass/screen/_main.scss */
#section78 {
  max-width: 35em;
  margin: auto;
  margin-right: 15vw;
}

/* line 824, ../sass/screen/_main.scss */
#region7 {
  height: 100ex;
  max-height: 60vh;
}

/* line 829, ../sass/screen/_main.scss */
#section9 {
  margin: auto;
  margin-right: 15vw;
  max-width: 35em;
}

/* line 835, ../sass/screen/_main.scss */
#region9 {
  height: 21.4ex;
}

/* line 841, ../sass/screen/_main.scss */
#region10 {
  margin-left: 80px;
  height: 363px;
}

/* line 847, ../sass/screen/_main.scss */
#region11 {
  margin-bottom: 2em;
}

/* line 851, ../sass/screen/_main.scss */
#layers {
  height: 600px;
  margin-bottom: calc(2ex + 2em);
}

/* line 856, ../sass/screen/_main.scss */
#video-btn {
  position: absolute;
  right: -300px;
  color: #666;
  cursor: pointer;
  z-index: 10;
  opacity: .5;
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-transition: opacity 1s;
  -moz-transition: opacity 1s;
  -o-transition: opacity 1s;
  transition: opacity 1s;
}
/* line 866, ../sass/screen/_main.scss */
#video-btn.in {
  opacity: 1;
}
/* line 869, ../sass/screen/_main.scss */
#video-btn.in .play-icon {
  -webkit-transform: scale(0.9);
  -moz-transform: scale(0.9);
  -ms-transform: scale(0.9);
  -o-transform: scale(0.9);
  transform: scale(0.9);
}
/* line 875, ../sass/screen/_main.scss */
#video-btn:hover .img-video {
  -webkit-filter: none;
}
/* line 879, ../sass/screen/_main.scss */
#video-btn:hover .play-icon {
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
}
/* line 884, ../sass/screen/_main.scss */
#video-btn .img-video {
  -webkit-transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
  -webkit-filter: sepia(0.5) grayscale(0.5);
}
/* line 889, ../sass/screen/_main.scss */
#video-btn .play-icon {
  vertical-align: middle;
  display: inline;
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  -ms-transform: scale(0);
  -o-transform: scale(0);
  transform: scale(0);
  -webkit-transition: -webkit-transform 0.2s ease-out;
  -moz-transition: -webkit-transform 0.2s ease-out;
  -o-transition: -webkit-transform 0.2s ease-out;
  transition: -webkit-transform 0.2s ease-out;
}
/* line 896, ../sass/screen/_main.scss */
#video-btn figcaption {
  box-sizing: border-box;
  position: absolute;
  width: 100%;
  bottom: 0px;
  padding: 1em;
  font-size: .8rem;
  line-height: 1.7;
  background-color: rgba(0, 0, 0, 0.7);
}
/* line 906, ../sass/screen/_main.scss */
#video-btn figcaption .video-label {
  float: left;
  display: inline-block;
  color: #30915f;
  line-height: 3em;
  padding-bottom: 1em;
}
/* line 913, ../sass/screen/_main.scss */
#video-btn figcaption .video-label svg {
  display: inline;
  vertical-align: middle;
}
/* line 918, ../sass/screen/_main.scss */
#video-btn figcaption .video-label div {
  display: inline;
  margin-left: 1em;
  text-transform: uppercase;
}
/* line 926, ../sass/screen/_main.scss */
#video-btn figcaption .video-label-text {
  float: right;
  width: 50%;
  color: #eee;
  text-align: right;
}
/* line 932, ../sass/screen/_main.scss */
#video-btn figcaption .video-label-text h5 {
  font-weight: bold;
}
/* line 936, ../sass/screen/_main.scss */
#video-btn figcaption .video-label-text .balance {
  display: inline-block;
}

/* line 944, ../sass/screen/_main.scss */
.img-mist {
  height: 80ex;
  width: 50%;
  margin: 2em 0;
  background-image: url(../assets/images/img1_mist.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

/* line 955, ../sass/screen/_main.scss */
#img1 {
  position: relative;
  float: right;
  right: 0px;
  opacity: .2;
  z-index: 2;
  -webkit-filter: grayscale(40rem);
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-transition: opacity 0.4s linear, -webkit-filter 0.4s linear;
  -webkit-transition-delay: 0.4s, 0.4s;
  -moz-transition: opacity 0.4s linear 0.4s, -webkit-filter 0.4s linear 0.4s;
  -o-transition: opacity 0.4s linear 0.4s, -webkit-filter 0.4s linear 0.4s;
  transition: opacity 0.4s linear 0.4s, -webkit-filter 0.4s linear 0.4s;
}
/* line 967, ../sass/screen/_main.scss */
#img1.in {
  opacity: 1;
  -webkit-filter: grayscale(0%);
}

/* line 973, ../sass/screen/_main.scss */
#img2 {
  position: relative;
  height: 40rem;
  max-height: 600px;
  margin: 10vh 0;
  background-image: url(../assets/images/img2_bottom.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center bottom;
  -webkit-filter: grayscale(100%);
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-transition: -webkit-filter 0.4s linear;
  -webkit-transition-delay: 0.5s;
  -moz-transition: -webkit-filter 0.4s linear 0.5s;
  -o-transition: -webkit-filter 0.4s linear 0.5s;
  transition: -webkit-filter 0.4s linear 0.5s;
}
/* line 987, ../sass/screen/_main.scss */
#img2.in {
  -webkit-filter: none;
}
/* line 990, ../sass/screen/_main.scss */
#img2.in .copy {
  opacity: 1;
}
/* line 995, ../sass/screen/_main.scss */
#img2 .copy {
  position: absolute;
  bottom: 0;
  right: 0;
  max-width: 30em;
  height: 22ex;
  margin-right: 5em;
  padding: 2em;
  color: rgba(0, 0, 0, 0.7);
  font-family: "minion-pro", "judson", Georgia, serif;
  font-size: 1.1rem;
  font-style: italic;
  line-height: 1.8;
  text-align: justify;
  opacity: 0;
  -webkit-transition: opacity 1s linear;
  -webkit-transition-delay: 1s;
  -moz-transition: opacity 1s linear 1s;
  -o-transition: opacity 1s linear 1s;
  transition: opacity 1s linear 1s;
  -webkit-shape-inside: polygon(0 50%, 50% 0, 100% 0, 100% 100%, 0 100%);
}

/* line 1016, ../sass/screen/_main.scss */
#img3 {
  height: 90vh;
  max-height: 600px;
  margin: 10vh 0;
  background-image: url(../assets/images/img3_dark.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  opacity: .1;
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-transition: opacity 0.4s ease-out;
  -moz-transition: opacity 0.4s ease-out;
  -o-transition: opacity 0.4s ease-out;
  transition: opacity 0.4s ease-out;
}
/* line 1029, ../sass/screen/_main.scss */
#img3.in {
  opacity: 1;
}
/* line 1032, ../sass/screen/_main.scss */
#img3.in .copy {
  opacity: 1;
}
/* line 1037, ../sass/screen/_main.scss */
#img3 .copy {
  position: absolute;
  bottom: 0;
  max-width: 30em;
  height: 25ex;
  padding: 2em;
  color: #fafafa;
  font-family: "minion-pro", "judson", Georgia, serif;
  font-size: 1.1rem;
  font-style: italic;
  line-height: 1.8;
  opacity: 0;
  -webkit-transition: opacity 1s ease-out;
  -webkit-transition-delay: 1s;
  -moz-transition: opacity 1s ease-out 1s;
  -o-transition: opacity 1s ease-out 1s;
  transition: opacity 1s ease-out 1s;
  -webkit-shape-inside: polygon(0 0, 40% 0, 80% 100%, 0 100%);
}

/* line 1054, ../sass/screen/_main.scss */
#img4 {
  position: absolute;
  top: 200px;
  left: -350px;
}

/* line 1061, ../sass/screen/_main.scss */
#figureTree {
  position: absolute;
  right: 100%;
  width: 20vw;
  max-width: 300px;
  margin-right: 4em;
  font-size: .7rem;
  font-family: "minion-pro", "judson", Georgia, serif;
  font-style: italic;
  line-height: 1.2;
}
/* line 1073, ../sass/screen/_main.scss */
#figureTree img {
  float: left;
  padding: 0 1.5em .5em 0;
}
/* line 1078, ../sass/screen/_main.scss */
#figureTree p {
  margin-top: 0;
  text-align: left;
  text-indent: 0;
}
/* line 1084, ../sass/screen/_main.scss */
#figureTree a {
  font-size: 1rem;
}

/* line 1089, ../sass/screen/_main.scss */
#asideBook {
  position: absolute;
  top: 680px;
  right: 100%;
  margin-right: 4em;
  width: 300px;
  font-size: .8rem;
}
/* line 1097, ../sass/screen/_main.scss */
#asideBook i {
  font-family: "minion-pro", "judson", Georgia, serif;
  line-height: 2em;
  color: gray;
  font-size: .7rem;
}
/* line 1111, ../sass/screen/_main.scss */
#asideBook b {
  display: block;
  font-weight: bold;
  margin-bottom: 1em;
}
/* line 1117, ../sass/screen/_main.scss */
#asideBook b span {
  color: #f6d330;
  padding-right: .5em;
}
/* line 1123, ../sass/screen/_main.scss */
#asideBook p {
  margin-top: 0;
  margin-bottom: 1em;
  text-align: left;
  text-indent: 0;
}

/* line 1131, ../sass/screen/_main.scss */
#ad1 {
  height: 90px;
  background: #ccc;
  margin: 2em 0;
  padding: 5px 0;
}
/* line 1137, ../sass/screen/_main.scss */
#ad1 img {
  display: block;
  margin: auto;
  background: black;
}

/* line 1144, ../sass/screen/_main.scss */
#ad2 {
  position: absolute;
  right: 0px;
  height: 300px;
  width: 320px;
  background: #ccc;
}

/* line 1152, ../sass/screen/_main.scss */
#ad3 {
  display: none;
  position: absolute;
  left: 105%;
  bottom: 0px;
  height: 100vh;
  width: 320px;
  background: #ccc;
}

/* line 1162, ../sass/screen/_main.scss */
#making {
  background: red;
}

/* line 1, ../sass/screen/_map.scss */
#map {
  position: absolute;
  height: 600px;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.99);
  background-image: url(../assets/images/map.jpg);
  background-repeat: no-repeat;
  background-size: auto 100%;
  background-position: right center;
  z-index: 10;
}
/* line 12, ../sass/screen/_map.scss */
#map h2 {
  font-family: georgia;
  font-size: 4rem;
  text-align: right;
}
/* line 18, ../sass/screen/_map.scss */
#map h5 {
  font-weight: bold;
}
/* line 22, ../sass/screen/_map.scss */
#map .map-content-main {
  position: relative;
  margin-left: 5%;
  padding: 2em;
  padding-bottom: 0;
  width: 390px;
}
/* line 29, ../sass/screen/_map.scss */
#map .map-content-main p {
  display: block;
  min-height: 200px;
  margin-left: 3em;
  padding-bottom: 0;
  margin-bottom: 0;
  font-size: 1rem;
  text-indent: 0;
  -webkit-shape-inside: polygon(30px 0, 100% 0, 100% 500px, 130px 500px, 0% 50px);
}
/* line 40, ../sass/screen/_map.scss */
#map .map-content-main figure {
  position: absolute;
  top: 8rem;
  left: -30px;
}
/* line 53, ../sass/screen/_map.scss */
#map a {
  position: absolute;
  display: block;
  padding: 1em;
  line-height: 1.3;
  text-transform: uppercase;
  color: #30915f;
}
/* line 61, ../sass/screen/_map.scss */
#map a.plus {
  width: 300px;
}
/* line 68, ../sass/screen/_map.scss */
.low-perf #map a.plus.in img, .high-perf #map a.plus.in img {
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
}
/* line 72, ../sass/screen/_map.scss */
.low-perf #map a.plus.in span, .high-perf #map a.plus.in span {
  opacity: 1;
}
/* line 78, ../sass/screen/_map.scss */
.high-perf #map a.plus:hover img {
  -webkit-transform: scale(1.2) rotate(180deg);
  -moz-transform: scale(1.2) rotate(180deg);
  -ms-transform: scale(1.2) rotate(180deg);
  -o-transform: scale(1.2) rotate(180deg);
  transform: scale(1.2) rotate(180deg);
}
/* line 83, ../sass/screen/_map.scss */
#map a.plus img {
  position: absolute;
}
/* line 87, ../sass/screen/_map.scss */
.high-perf #map a.plus img {
  -webkit-transform-origin: center center;
  -moz-transform-origin: center center;
  -ms-transform-origin: center center;
  -o-transform-origin: center center;
  transform-origin: center center;
  -webkit-transform: scale(0.2);
  -moz-transform: scale(0.2);
  -ms-transform: scale(0.2);
  -o-transform: scale(0.2);
  transform: scale(0.2);
  -webkit-transition: -webkit-transform 1s;
  -moz-transition: -moz-transform 1s;
  -o-transition: -o-transform 1s;
  transition: transform 1s;
}
/* line 93, ../sass/screen/_map.scss */
#map a.plus span {
  display: block;
  margin-left: 2.5em;
  width: 200px;
}
/* line 100, ../sass/screen/_map.scss */
.high-perf #map a.plus span {
  -webkit-transition: opacity 1s ease-out;
  -webkit-transition-delay: 0.5s;
  -moz-transition: opacity 1s ease-out 0.5s;
  -o-transition: opacity 1s ease-out 0.5s;
  transition: opacity 1s ease-out 0.5s;
}
/* line 105, ../sass/screen/_map.scss */
#map a.info {
  padding-right: 30px;
  background-image: url(../assets/images/info-icon.svg);
  background-repeat: no-repeat;
  background-position: right center;
}

/* line 115, ../sass/screen/_map.scss */
#map-dist {
  position: absolute;
  top: 280px;
  right: 200px;
  font-size: .7rem;
  max-width: 20em;
  line-height: 1.8;
}

/* line 130, ../sass/screen/_map.scss */
#map-limit {
  position: absolute;
  top: 100px;
  right: 200px;
  font-size: .7rem;
  max-width: 15em;
  line-height: 1.8;
}

/* line 145, ../sass/screen/_map.scss */
#map-plus-1 {
  position: absolute;
  top: 450px;
  left: 20%;
}

/* line 151, ../sass/screen/_map.scss */
#map-plus-2 {
  top: 450px;
  right: 100px;
}

/* line 157, ../sass/screen/_map.scss */
#map-plus-3 {
  bottom: 30px;
  right: 100px;
}

/* line 163, ../sass/screen/_map.scss */
#map-credits {
  margin-left: 1em;
  bottom: 30px;
}

/* line 168, ../sass/screen/_map.scss */
#map-tree {
  border: 3px solid #666;
  background-color: rgba(255, 255, 255, 0.5);
  opacity: 0;
  -webkit-transition: opacity 1s ease-out;
  -webkit-transition-delay: 1s;
  -moz-transition: opacity 1s ease-out 1s;
  -o-transition: opacity 1s ease-out 1s;
  transition: opacity 1s ease-out 1s;
}
/* line 175, ../sass/screen/_map.scss */
#map-tree.in {
  opacity: 1;
}

/* line 180, ../sass/screen/_map.scss */
#map-tree-figure {
  position: absolute;
  left: 20%;
  bottom: 30px;
  width: 250px;
}

/* line 188, ../sass/screen/_map.scss */
.elevation-label {
  opacity: 1;
  position: absolute;
}

/* line 196, ../sass/screen/_map.scss */
.low-perf .elevation-label, .low-perf
#elevation-graphic {
  -webkit-transition: opacity 0.4s ease-out;
  -webkit-transition-delay: 0.4s;
  -moz-transition: opacity 0.4s ease-out 0.4s;
  -o-transition: opacity 0.4s ease-out 0.4s;
  transition: opacity 0.4s ease-out 0.4s;
  opacity: 0;
}
/* line 201, ../sass/screen/_map.scss */
.low-perf .opened .elevation-label, .low-perf .opened
#elevation-graphic {
  display: block;
  opacity: 1;
}

/* line 207, ../sass/screen/_map.scss */
#elevation-title {
  bottom: 10px;
  left: 50%;
  font-weight: bold;
}

/* line 213, ../sass/screen/_map.scss */
#elevation-label2 {
  bottom: 20%;
  left: 10%;
  width: 200px;
  height: 50px;
  line-height: 1.5;
  text-align: right;
  -webkit-shape-inside: polygon(0 0, 100% 0, 80% 100%, 0 100%);
}

/* line 223, ../sass/screen/_map.scss */
#elevation-wetter {
  right: 20%;
  top: 34%;
}

/* line 228, ../sass/screen/_map.scss */
#elevation-drier {
  right: 3%;
  top: 34%;
}

/* line 233, ../sass/screen/_map.scss */
#elevation-mt {
  right: 3%;
  top: 20%;
}

/* line 238, ../sass/screen/_map.scss */
#elevation-top {
  left: 7%;
  bottom: 33%;
}

/* line 243, ../sass/screen/_map.scss */
#elevation-bottom {
  left: 5%;
  bottom: 15%;
}

/* line 248, ../sass/screen/_map.scss */
#elevation-text {
  padding: 1.5em;
}
/* line 251, ../sass/screen/_map.scss */
#elevation-text b {
  display: block;
  font-weight: bold;
}
/* line 256, ../sass/screen/_map.scss */
#elevation-text p {
  margin-top: .7em;
  height: 200px;
  text-indent: 0;
  font-size: 1rem;
  line-height: 1.5;
  -webkit-shape-inside: polygon(0 0, 60% 0, 50% 100%, 0 100%);
}

/* line 270, ../sass/screen/_map.scss */
.low-perf #popup-forest svg {
  -webkit-transition: opacity 0.4s ease-out;
  -webkit-transition-delay: 2s;
  -moz-transition: opacity 0.4s ease-out 2s;
  -o-transition: opacity 0.4s ease-out 2s;
  transition: opacity 0.4s ease-out 2s;
  opacity: 0;
}
/* line 275, ../sass/screen/_map.scss */
.low-perf #popup-forest.opened svg {
  display: block;
  opacity: 1;
}

/* line 1, ../sass/screen/_tree.scss */
#tree {
  position: absolute;
  margin: auto;
  width: 100%;
  height: 600px;
  font-size: .8rem;
  line-height: 1.5;
  background: white;
}
/* line 12, ../sass/screen/_tree.scss */
#tree h4 {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 1em;
}
/* line 18, ../sass/screen/_tree.scss */
#tree h5 {
  margin: 2em 0;
  padding-left: 1em;
  font-family: Georgia;
  font-style: italic;
  color: #30915f;
  text-transform: uppercase;
}
/* line 27, ../sass/screen/_tree.scss */
#tree h6 {
  color: #30915f;
  text-transform: uppercase;
}
/* line 32, ../sass/screen/_tree.scss */
#tree p {
  margin: .5em 0 1.2em;
  text-align: left;
  text-indent: 0;
  line-height: 1.4;
}
/* line 40, ../sass/screen/_tree.scss */
#tree b {
  font-weight: bold;
}
/* line 44, ../sass/screen/_tree.scss */
#tree .popup-close {
  top: auto;
  right: 100px;
  bottom: 10px;
  color: #30915f;
  background-image: url(../assets/images/back-arrow.svg);
}
/* line 51, ../sass/screen/_tree.scss */
#tree .popup-close:hover {
  background-color: transparent;
}

/* line 57, ../sass/screen/_tree.scss */
#tree-columns {
  position: relative;
  max-width: 850px;
  margin: auto;
}

/* line 63, ../sass/screen/_tree.scss */
#tree-list-column {
  margin-right: 300px;
}

/* line 69, ../sass/screen/_tree.scss */
#tree-list li {
  padding: 1em 1em 0;
  border-bottom: 1px solid #fafafa;
  cursor: pointer;
  -webkit-transition: background 0.2s linear;
  -moz-transition: background 0.2s linear;
  -o-transition: background 0.2s linear;
  transition: background 0.2s linear;
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
}
/* line 77, ../sass/screen/_tree.scss */
#tree-list li h6, #tree-list li p {
  -webkit-transition: opacity 0.2s linear;
  -moz-transition: opacity 0.2s linear;
  -o-transition: opacity 0.2s linear;
  transition: opacity 0.2s linear;
  opacity: .3;
}
/* line 83, ../sass/screen/_tree.scss */
#tree-list li.active h6, #tree-list li.active p {
  opacity: 1;
}
/* line 88, ../sass/screen/_tree.scss */
#tree-list li:hover {
  background-color: rgba(255, 255, 255, 0.3);
}
/* line 91, ../sass/screen/_tree.scss */
#tree-list li:hover h6 {
  opacity: 1;
}

/* line 98, ../sass/screen/_tree.scss */
#tree-canvas {
  position: absolute;
  left: 50%;
  display: inline-block;
  height: 600px;
  z-index: 0;
  -webkit-transform: translate(-150px, 0px);
  -moz-transform: translate(-150px, 0px);
  -ms-transform: translate(-150px, 0px);
  -o-transform: translate(-150px, 0px);
  transform: translate(-150px, 0px);
}

/* line 108, ../sass/screen/_tree.scss */
.tree-column {
  position: relative;
  float: right;
  margin-top: 2em;
  display: inline-block;
  max-width: 25em;
  z-index: 1;
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
}
/* line 117, ../sass/screen/_tree.scss */
.tree-column li {
  line-height: 1.8;
}

/* line 1, ../sass/screen/_imageViewer.scss */
#imageViewer {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: white;
  z-index: 1000;
  -webkit-user-select: none;
  user-select: none;
}
/* line 13, ../sass/screen/_imageViewer.scss */
#imageViewer .container {
  visibility: hidden;
  position: absolute;
  margin-top: -2584px;
  margin-left: -1057px;
  left: 50%;
  top: 50%;
  width: 1957px;
  height: 5184px;
  -webkit-transform-origin: center center;
  -webkit-transform: scale(0.1);
}
/* line 26, ../sass/screen/_imageViewer.scss */
#imageViewer .container img {
  position: absolute;
  pointer-events: none;
}
/* line 31, ../sass/screen/_imageViewer.scss */
#imageViewer .ui {
  position: absolute;
  top: 0px;
  height: 50px;
  width: 100%;
  z-index: 1000;
  background: rgba(0, 0, 0, 0.9);
}
/* line 40, ../sass/screen/_imageViewer.scss */
#imageViewer .ui a {
  display: inline-block;
  color: white;
}
/* line 45, ../sass/screen/_imageViewer.scss */
#imageViewer .frame {
  position: relative;
  margin: auto;
  height: 100%;
  width: 100%;
  overflow: hidden;
  cursor: move;
}
/* line 54, ../sass/screen/_imageViewer.scss */
#imageViewer input {
  position: relative;
  left: 50px;
  top: -20px;
  height: 6px;
  width: 30%;
  background: rgba(255, 255, 255, 0.5);
  -webkit-appearance: none;
}
/* line 63, ../sass/screen/_imageViewer.scss */
#imageViewer input::-webkit-slider-thumb {
  position: relative;
  width: 25px;
  height: 6px;
  background: #30915f;
  z-index: 2;
  -webkit-appearance: none;
}

/* line 74, ../sass/screen/_imageViewer.scss */
#imageViewerLoader {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(../assets/images/spinner.svg);
  background-repeat: no-repeat;
  background-position: center;
}

/* line 85, ../sass/screen/_imageViewer.scss */
#zoomSliderContainer {
  display: inline-block;
}

/* line 89, ../sass/screen/_imageViewer.scss */
.zoomBtn {
  width: 50px;
  height: 50px;
  background-repeat: no-repeat;
  background-position: center;
  -webkit-transition: background-color 1s;
  -moz-transition: background-color 1s;
  -o-transition: background-color 1s;
  transition: background-color 1s;
}
/* line 96, ../sass/screen/_imageViewer.scss */
.zoomBtn:hover {
  background-color: #30915f;
}

/* line 101, ../sass/screen/_imageViewer.scss */
.zoomInBtn {
  background-image: url(../assets/images/video-ui-plus.svg);
}

/* line 105, ../sass/screen/_imageViewer.scss */
.zoomOutBtn {
  background-image: url(../assets/images/video-ui-minus.svg);
}

/* line 109, ../sass/screen/_imageViewer.scss */
#zoomSliderContainer {
  position: relative;
  top: -10px;
  margin-left: 10px;
  height: 40px;
  width: 200px;
}

/* line 117, ../sass/screen/_imageViewer.scss */
#zoomSliderBg {
  height: 6px;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.5);
}

/* line 123, ../sass/screen/_imageViewer.scss */
#zoomSlider {
  position: relative;
  width: 17px;
  height: 6px;
  background-color: #C6C6C6;
  cursor: ew-resize;
}

/* line 1, ../sass/screen/_overlay.scss */
#overlay {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100%;
  color: white;
  font-family: indie-flower;
  line-height: 1.3;
  letter-spacing: .2em;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 45;
}
/* line 15, ../sass/screen/_overlay.scss */
#overlay div {
  position: absolute;
  background-repeat: no-repeat;
}
/* line 19, ../sass/screen/_overlay.scss */
#overlay div b {
  display: block;
}

/* line 25, ../sass/screen/_overlay.scss */
.overlay-balance {
  padding-top: 30px;
  padding-left: 80px;
  width: 200px;
  height: 150px;
  background-image: url(../assets/images/sketch/bracket-1.png);
}

/* line 33, ../sass/screen/_overlay.scss */
#overlay-drop {
  width: 300px;
  height: 100px;
  margin-bottom: -25px;
  padding-bottom: 145px;
  background-image: url(../assets/images/sketch/drop-cap.png);
  background-position: 70px bottom;
}

/* line 42, ../sass/screen/_overlay.scss */
#overlay-flow {
  width: 300px;
  height: 100px;
  padding-right: 70px;
  padding-bottom: 200px;
  margin-left: -100px;
  background-image: url(../assets/images/sketch/flow-1.png);
  background-position: right bottom;
}

/* line 52, ../sass/screen/_overlay.scss */
#overlay-flow-2 {
  width: 300px;
  height: 400px;
  background-image: url(../assets/images/sketch/flow-2.png);
  background-position: left bottom;
}

/* line 59, ../sass/screen/_overlay.scss */
#overlay-shape-1 {
  width: 300px;
  height: 150px;
  padding-right: 200px;
  padding-bottom: 60px;
  background-image: url(../assets/images/sketch/shape-1.png);
  background-position: right bottom;
}

/* line 68, ../sass/screen/_overlay.scss */
#overlay-shape-2 {
  width: 300px;
  height: 300px;
  padding-left: 170px;
  background-image: url(../assets/images/sketch/shape-4.png);
  background-position: left bottom;
}

/* line 79, ../sass/screen/_overlay.scss */
#overlay-shape-3 {
  width: 300px;
  height: 250px;
  padding-left: 100px;
  padding-top: 50px;
  background-image: url(../assets/images/sketch/shape-3.png);
  background-position: left top;
}

/* line 88, ../sass/screen/_overlay.scss */
#overlay-filter-1 {
  width: 250px;
  height: 250px;
  padding-right: 50px;
  padding-bottom: 50px;
  background-image: url(../assets/images/sketch/filter-1.png);
  background-position: right bottom;
}

/* line 97, ../sass/screen/_overlay.scss */
.overlay-flow-stop {
  width: 70px;
  height: 116px;
  background-image: url(../assets/images/sketch/flow-stop.png);
  background-position: right bottom;
}

/* line 104, ../sass/screen/_overlay.scss */
.overlay-flow-start {
  width: 93px;
  height: 95px;
  background-image: url(../assets/images/sketch/flow-start.png);
  background-position: right bottom;
}

@media screen and (max-width: 1060px) {
  /* line 4, ../sass/screen/_queries.scss */
  #section78 {
    width: auto;
  }

  /* line 19, ../sass/screen/_queries.scss */
  #video-btn {
    -webkit-transform-origin: top left;
    -moz-transform-origin: top left;
    -ms-transform-origin: top left;
    -o-transform-origin: top left;
    transform-origin: top left;
    -webkit-transform: scale(0.7) translateZ(0);
    -moz-transform: scale(0.7) translateZ(0);
    -ms-transform: scale(0.7) translateZ(0);
    -o-transform: scale(0.7) translateZ(0);
    transform: scale(0.7) translateZ(0);
  }

  /* line 24, ../sass/screen/_queries.scss */
  #region2 {
    -webkit-shape-inside: polygon(0% 0%, 65% 0%, 65% 200px, 100% 200px, 100% 100%, 0% 100%);
  }

  /* line 28, ../sass/screen/_queries.scss */
  #img2 .copy {
    margin-right: 3em;
    padding: 1em;
  }

  /* line 33, ../sass/screen/_queries.scss */
  #asideBook {
    display: none;
  }
}
@media screen and (max-width: 970px) {
  /* line 40, ../sass/screen/_queries.scss */
  #region9 {
    -webkit-shape-inside: auto;
  }

  /* line 44, ../sass/screen/_queries.scss */
  #region10 {
    margin-left: auto;
  }

  /* line 48, ../sass/screen/_queries.scss */
  #img4 {
    display: none;
  }

  /* line 52, ../sass/screen/_queries.scss */
  #map-california-figure {
    display: none;
  }

  /* line 56, ../sass/screen/_queries.scss */
  #map-tree {
    display: none;
  }

  /* line 60, ../sass/screen/_queries.scss */
  #map-tree-figure {
    position: static;
  }

  /* line 65, ../sass/screen/_queries.scss */
  #map .map-content-main p {
    -webkit-shape-inside: auto;
  }
  /* line 69, ../sass/screen/_queries.scss */
  #map a {
    position: static;
  }

  /* line 74, ../sass/screen/_queries.scss */
  #map-credits {
    width: 70px;
  }

  /* line 78, ../sass/screen/_queries.scss */
  #map-dist, #map-limit {
    display: none;
  }

  /* line 82, ../sass/screen/_queries.scss */
  #figureTree {
    display: none;
  }
}
@media screen and (max-width: 915px) {
  /* line 89, ../sass/screen/_queries.scss */
  #region4 {
    display: block;
    width: auto;
    max-width: 30em;
  }

  /* line 95, ../sass/screen/_queries.scss */
  #region5 {
    display: none;
  }

  /* line 99, ../sass/screen/_queries.scss */
  #tag-holder {
    display: block;
    margin: 1em 0;
    max-width: 90vw;
  }
}
@media screen and (max-width: 800px) {
  /* line 107, ../sass/screen/_queries.scss */
  html {
    font-size: 80%;
  }

  /* line 111, ../sass/screen/_queries.scss */
  .col {
    margin-left: 5em;
  }

  /* line 115, ../sass/screen/_queries.scss */
  #section9 {
    margin-right: auto;
  }

  /* line 119, ../sass/screen/_queries.scss */
  #cover {
    max-height: 300px;
  }

  /* line 123, ../sass/screen/_queries.scss */
  #video-btn {
    right: -75%;
  }
}
@media screen and (max-width: 750px) {
  /* line 129, ../sass/screen/_queries.scss */
  .col, #section9 {
    margin: auto;
  }

  /* line 133, ../sass/screen/_queries.scss */
  #video-btn {
    display: none;
  }

  /* line 137, ../sass/screen/_queries.scss */
  #region2 {
    -webkit-shape-inside: auto;
  }

  /* line 141, ../sass/screen/_queries.scss */
  #region3 {
    float: none;
    margin: 1.5em auto 0;
    width: auto;
    max-width: 35em;
  }

  /* line 148, ../sass/screen/_queries.scss */
  #region4 {
    margin: auto;
    max-width: 35em;
  }

  /* line 153, ../sass/screen/_queries.scss */
  #region9 {
    height: auto;
  }

  /* line 157, ../sass/screen/_queries.scss */
  #region10 {
    height: auto;
  }

  /* line 161, ../sass/screen/_queries.scss */
  #img1 {
    display: none;
  }

  /* line 166, ../sass/screen/_queries.scss */
  #map h2 {
    text-align: left;
  }
  /* line 170, ../sass/screen/_queries.scss */
  #map .map-content-main {
    text-align: left;
    width: auto;
    max-width: 30em;
  }
  /* line 175, ../sass/screen/_queries.scss */
  #map .map-content-main p {
    margin-left: 0;
    min-height: auto;
  }
}
@media screen and (max-width: 550px) {
  /* line 184, ../sass/screen/_queries.scss */
  #sort-btn {
    display: none;
  }

  /* line 188, ../sass/screen/_queries.scss */
  #search-wrap {
    margin-left: auto;
  }

  /* line 192, ../sass/screen/_queries.scss */
  #section78 {
    margin-right: auto;
  }

  /* line 196, ../sass/screen/_queries.scss */
  .map-content-main {
    margin-left: 0 !important;
    background: rgba(255, 255, 255, 0.7);
  }
}
@media screen and (max-width: 474px) {
  /* line 204, ../sass/screen/_queries.scss */
  body > header h2 {
    display: none;
  }

  /* line 209, ../sass/screen/_queries.scss */
  .col, #section9 {
    padding: 0 2em;
  }

  /* line 213, ../sass/screen/_queries.scss */
  #region3, #region4, #region6, #region7 {
    padding: 0 2em;
  }

  /* line 217, ../sass/screen/_queries.scss */
  #img2 .copy {
    height: 23ex;
    max-width: 25em;
    margin-right: 0;
  }

  /* line 223, ../sass/screen/_queries.scss */
  #img3 .copy {
    -webkit-shape-inside: auto;
  }
}
